.form_register {
  border: black solid 2px;
  border-radius: 8px;
  width: 28%;
  margin: auto;
  padding: 2vh;
}

.element_register {
  display: flex;
  justify-content: space-between;
  margin: 2vh auto;
}

.button_register {
  display: flex;
  justify-content: center;
}
