.Produits {
  background-color: red;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Produit {
  background-color: blue;
  width: 10%;
  height: 20vh;
  display: flex;
  /*flex-wrap: wrap;*/
  /*justify-content: space-around;*/
  margin: 3vh auto;
}

.rang {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
